In [139]:
import pandas as pd
import numpy as np
from scipy import stats

# Create dummy dataframe
df = pd.DataFrame(np.random.randn(10,3), columns=list('ABC'))
print df

          A         B         C
0  0.161424 -0.984434  2.072497
1 -1.398740 -0.414433  1.487164
2 -1.581128 -0.195313 -1.453342
3  0.794405 -0.333994  0.807954
4  0.204318 -1.402578  0.036992
5  0.373276 -1.038533  1.801321
6  1.065953  0.950969  1.512732
7  2.514518 -0.692301 -0.665640
8 -1.196454  0.512546 -0.178689
9 -0.014218  0.800052  1.093918

In [140]:
# copy a column so we have one untouched column
df['D'] = df['C']
print df

          A         B         C         D
0  0.161424 -0.984434  2.072497  2.072497
1 -1.398740 -0.414433  1.487164  1.487164
2 -1.581128 -0.195313 -1.453342 -1.453342
3  0.794405 -0.333994  0.807954  0.807954
4  0.204318 -1.402578  0.036992  0.036992
5  0.373276 -1.038533  1.801321  1.801321
6  1.065953  0.950969  1.512732  1.512732
7  2.514518 -0.692301 -0.665640 -0.665640
8 -1.196454  0.512546 -0.178689 -0.178689
9 -0.014218  0.800052  1.093918  1.093918

In [141]:
# add some NaN to make sure math is working
df.iat[0,0] = np.nan
df.iat[2,1] = np.nan
df.iat[6,2] = np.nan
print df

          A         B         C         D
0       NaN -0.984434  2.072497  2.072497
1 -1.398740 -0.414433  1.487164  1.487164
2 -1.581128       NaN -1.453342 -1.453342
3  0.794405 -0.333994  0.807954  0.807954
4  0.204318 -1.402578  0.036992  0.036992
5  0.373276 -1.038533  1.801321  1.801321
6  1.065953  0.950969       NaN  1.512732
7  2.514518 -0.692301 -0.665640 -0.665640
8 -1.196454  0.512546 -0.178689 -0.178689
9 -0.014218  0.800052  1.093918  1.093918

In [142]:
# look at stats for this
df.describe()

              A         B         C          D
count  9.000000  9.000000  9.000000  10.000000
mean   0.084659 -0.289190  0.555797   0.651491
std    1.327350  0.853810  1.194230   1.165887
min   -1.581128 -1.402578 -1.453342  -1.453342
25%   -1.196454 -0.984434 -0.178689  -0.124769
50%    0.204318 -0.414433  0.807954   0.950936
75%    0.794405  0.512546  1.487164   1.506340
max    2.514518  0.950969  2.072497   2.072497

In [143]:
# compute zscores
#print stats.zscore(df)

cols = list(df.columns)
for col in cols:
    col_zscore = col + '_zscore' #add a new column
    df[col_zscore] = (df[col]-df[col].mean())/df[col].std(ddof=0)
print df

          A         B         C         D  A_zscore  B_zscore  C_zscore  \
0       NaN -0.984434  2.072497  2.072497       NaN -0.863679  1.347063
1 -1.398740 -0.414433  1.487164  1.487164 -1.185356 -0.155586  0.827197
2 -1.581128       NaN -1.453342 -1.453342 -1.331099       NaN -1.784425
3  0.794405 -0.333994  0.807954  0.807954  0.567145 -0.055659  0.223954
4  0.204318 -1.402578  0.036992  0.036992  0.095618 -1.383127 -0.460779
5  0.373276 -1.038533  1.801321  1.801321  0.230629 -0.930885  1.106217
6  1.065953  0.950969       NaN  1.512732  0.784134  1.540609       NaN
7  2.514518 -0.692301 -0.665640 -0.665640  1.941655 -0.500772 -1.084825
8 -1.196454  0.512546 -0.178689 -0.178689 -1.023713  0.995970 -0.652337
9 -0.014218  0.800052  1.093918  1.093918 -0.079011  1.353130  0.477934

   D_zscore
0  1.284749
1  0.755542
2 -1.903004
3  0.141461
4 -0.555575
5  1.039575
6  0.778659
7 -1.190834
8 -0.750575
9  0.400004

In [144]:
# check for the min / max zscores for a given row
for index, row in df.iterrows():
    print "Row {}, Min Zscore {: 1.3f}, Max Zscore {: 1.3f}".format(index,row[4:].min(),row[4:].max())
# Used this to print one line    
#row = 6    
#print df.iloc[row,4:].min(), df.iloc[row,4:].max()

Row 0, Min Zscore -0.864, Max Zscore  1.347
Row 1, Min Zscore -1.185, Max Zscore  0.827
Row 2, Min Zscore -1.903, Max Zscore -1.331
Row 3, Min Zscore -0.056, Max Zscore  0.567
Row 4, Min Zscore -1.383, Max Zscore  0.096
Row 5, Min Zscore -0.931, Max Zscore  1.106
Row 6, Min Zscore  0.779, Max Zscore  1.541
Row 7, Min Zscore -1.191, Max Zscore  1.942
Row 8, Min Zscore -1.024, Max Zscore  0.996
Row 9, Min Zscore -0.079, Max Zscore  1.353

In [148]:
# assuming you know the index this will find the column of the max value for that index
print "Method one = {}".format(df.iloc[1,4:].idxmax())

a = df.iloc[1,4:].max()
print a

# this one will find the right answer if you have the same value in two columns
cols = list(df.columns)
for col in cols:
    if a == df[col][1]:
        print "Method two = {}".format(col)

Method one = C_zscore
0.827196600711
Method two = C_zscore

In [162]:
# print zscores for a given index
cols = list(df.columns[4:])
index = 1
for col in cols:
    if df[col][index] > 0.5:
        print "z_score = {} in column {}".format(df[col][index], col)

z_score = 0.827196600711 in column C_zscore
z_score = 0.755541767874 in column D_zscore

In [163]:
print df.iloc[:,4:]

   A_zscore  B_zscore  C_zscore  D_zscore
0       NaN -0.863679  1.347063  1.284749
1 -1.185356 -0.155586  0.827197  0.755542
2 -1.331099       NaN -1.784425 -1.903004
3  0.567145 -0.055659  0.223954  0.141461
4  0.095618 -1.383127 -0.460779 -0.555575
5  0.230629 -0.930885  1.106217  1.039575
6  0.784134  1.540609       NaN  0.778659
7  1.941655 -0.500772 -1.084825 -1.190834
8 -1.023713  0.995970 -0.652337 -0.750575
9 -0.079011  1.353130  0.477934  0.400004

In [171]:
df['C_zscore'].describe()

count    9.000000e+00
mean     1.233581e-17
std      1.060660e+00
min     -1.784425e+00
25%     -6.523367e-01
50%      2.239542e-01
75%      8.271966e-01
max      1.347063e+00
Name: C_zscore, dtype: float64